BeginningCardSpaceCode/Chapter 15 - Information Cards and Personalization/Part III/PersonalGovernment/App_WebReferences/CensusInformationForZipCode/sdpCensus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s1="http://ws.strikeiron.com" xmlns:si="http://www.strikeiron.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.strikeiron.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
      <s:element name="GetCensusInfoForZipCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCensusInfoForZipCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCensusInfoForZipCodeResult" type="si:CensusOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CensusOutput">
        <s:complexContent mixed="false">
          <s:extension base="si:ServiceOutput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="si:CensusResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ServiceOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="si:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusNbr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CensusResult">
        <s:complexContent mixed="false">
          <s:extension base="si:SIWsResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CensusInfo" type="si:ArrayOfCensusInformation" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIWsResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCensusInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CensusInformation" nillable="true" type="si:CensusInformation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CensusInformation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Total_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Male_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Female_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_Under_5_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_5_9_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_10_14_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_15_19_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_20_24_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_25_34_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_35_44_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_45_54_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_55_59_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_60_64_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_65_74_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_75_84_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_Over_85_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Median_age" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_18_Over_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_18_Over_male_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_18_Over_female_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_21_Over_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_62_Over_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_65_Over_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_65_Over_male_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age_65_Over_female_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="One_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="White_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Black_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="American_Indian_Alaska_Native_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Asian_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Asian_Indian_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Chinese_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Filipino_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Japanese_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Korean_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vietnamese_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Other_Asian_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Native_Hawaiian_Other_Pacific_Islander_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Native_Hawaiian_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Guamanian_Chamorro_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Samoan_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Other_Pacific_Islander_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Other_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Two_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="White_race_alone_combo_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Black_race_alone_combo_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="American_Indian_Alaska_Native_race_alone_combo_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Asian_race_alone_combo_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Native_Hawaiian_Other_Pacific_Islander_race_alone_combo_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Other_race_alone_combo_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Hispanic_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mexican_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Puerto_Rican_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cuban_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Other_Hispanic_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Not_Hispanic_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="White_alone_race_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="In_households_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Householder_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Spouse_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Child_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Own_child_under_18_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Other_relatives_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Under_18_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nonrelatives_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Unmarried_partner_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="In_group_quarters_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Institutionalized_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Noninstitutionalized_pop" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Total_households" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Family_households" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Own_children_under_18_family_households" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Married_couple_households" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Own_children_under_18_married_couple_households" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Female_householder_no_husband_households" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Own_children_under_18_female_householder_no_husband_households" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nonfamily_households" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Householder_alone_households" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Householder_65_and_over_households" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Households_with_individuals_under_18" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Households_with_individuals_over_65" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Avg_household_size" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Avg_family_size" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Total_housing_units" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Occupied_housing_units" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vacant_housing_units" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Occasional_use_housing_units" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Homeowner_vacancy_rate_percent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rental_vacancy_rate_percent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Owner_occupied_housing_units" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Renter_occupied_housing_units" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Avg_household_size_owner_occupied_units" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Avg_household_size_renter_occupied_units" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllStatuses">
        <s:complexType />
      </s:element>
      <s:element name="GetAllStatusesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStatusesResult" type="si:StatusCodeOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StatusCodeOutput">
        <s:complexContent mixed="false">
          <s:extension base="si:ServiceOutput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="si:StatusCodeResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StatusCodeResult">
        <s:complexContent mixed="false">
          <s:extension base="si:SIWsResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Statuses" type="si:ArrayOfSIWsStatus" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfSIWsStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SIWsStatus" nillable="true" type="si:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetServiceInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceInfoResult" type="si:ServiceInfoOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceInfoOutput">
        <s:complexContent mixed="false">
          <s:extension base="si:ServiceOutput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="si:SIServiceInfoResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIServiceInfoResult">
        <s:complexContent mixed="false">
          <s:extension base="si:SIWsResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceInfo" type="si:ArrayOfServiceInfoRecord" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfoRecord" nillable="true" type="si:ServiceInfoRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InfoKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoValue" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.strikeiron.com">
      <xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
      <xs:complexType name="LicenseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
      <xs:complexType name="SubscriptionInfo">
        <xs:sequence>
          <xs:element name="LicenseStatusCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
          <xs:element name="LicenseActionCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
          <xs:element name="RemainingHits" type="xs:int" />
          <xs:element name="Amount" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetRemainingHits">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetRemainingHitsResponse">
        <xs:complexType />
      </xs:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCensusInfoForZipCodeSoapIn">
    <wsdl:part name="parameters" element="si:GetCensusInfoForZipCode" />
  </wsdl:message>
  <wsdl:message name="GetCensusInfoForZipCodeSoapOut">
    <wsdl:part name="parameters" element="si:GetCensusInfoForZipCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllStatusesSoapIn">
    <wsdl:part name="parameters" element="si:GetAllStatuses" />
  </wsdl:message>
  <wsdl:message name="GetAllStatusesSoapOut">
    <wsdl:part name="parameters" element="si:GetAllStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapIn">
    <wsdl:part name="parameters" element="si:GetServiceInfo" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapOut">
    <wsdl:part name="parameters" element="si:GetServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
    <wsdl:part name="parameters" element="s1:GetRemainingHits" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
    <wsdl:part name="parameters" element="s1:GetRemainingHitsResponse" />
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
    <wsdl:part name="LicenseInfo" element="s1:LicenseInfo" />
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
    <wsdl:part name="SubscriptionInfo" element="s1:SubscriptionInfo" />
  </wsdl:message>
  <wsdl:portType name="SDPCensusSoap">
    <wsdl:operation name="GetCensusInfoForZipCode">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get census information for a given zip code</documentation>
      <wsdl:input message="si:GetCensusInfoForZipCodeSoapIn" />
      <wsdl:output message="si:GetCensusInfoForZipCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStatuses">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all statuses this service might return</documentation>
      <wsdl:input message="si:GetAllStatusesSoapIn" />
      <wsdl:output message="si:GetAllStatusesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get information about the web service</documentation>
      <wsdl:input message="si:GetServiceInfoSoapIn" />
      <wsdl:output message="si:GetServiceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <wsdl:input message="si:GetRemainingHitsSoapIn" />
      <wsdl:output message="si:GetRemainingHitsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SDPCensusSoap" type="si:SDPCensusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCensusInfoForZipCode">
      <soap:operation soapAction="http://www.strikeiron.com/GetCensusInfoForZipCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStatuses">
      <soap:operation soapAction="http://www.strikeiron.com/GetAllStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <soap:operation soapAction="http://www.strikeiron.com/GetServiceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <soap:operation soapAction="http://sdpws.strikeiron.com/StrikeIron/sdpCensus/SDPCensus/GetRemainingHits" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SDPCensus">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This Web service will look up Census information.</documentation>
    <wsdl:port name="SDPCensusSoap" binding="si:SDPCensusSoap">
      <soap:address location="http://sdpws.strikeiron.com/StrikeIron/sdpCensus" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>