BeginningCardSpaceCode/Chapter 15 - Information Cards and Personalization/Part III/PersonalGovernment/App_WebReferences/CityWebSites/sdpUSCityWebsites.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s1="http://ws.strikeiron.com" xmlns:si="http://www.strikeiron.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.strikeiron.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
      <s:element name="GetUSCityWebsite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USState" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUSCityWebsiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUSCityWebsiteResult" type="si:USCityWebsiteOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="USCityWebsiteOutput">
        <s:complexContent mixed="false">
          <s:extension base="si:ServiceOutput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="si:USCityWebsiteResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ServiceOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceStatus" type="si:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SIWsStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusNbr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USCityWebsiteResult">
        <s:complexContent mixed="false">
          <s:extension base="si:SIWsResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="USCityWebsites" type="si:ArrayOfUSCityWebsiteInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIWsResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Count" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUSCityWebsiteInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="USCityWebsiteInfo" nillable="true" type="si:USCityWebsiteInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USCityWebsiteInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUSCityWebsitesForState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USState" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUSCityWebsitesForStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUSCityWebsitesForStateResult" type="si:USCityWebsiteOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllStatuses">
        <s:complexType />
      </s:element>
      <s:element name="GetAllStatusesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStatusesResult" type="si:StatusCodeOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StatusCodeOutput">
        <s:complexContent mixed="false">
          <s:extension base="si:ServiceOutput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="si:StatusCodeResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="StatusCodeResult">
        <s:complexContent mixed="false">
          <s:extension base="si:SIWsResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Statuses" type="si:ArrayOfSIWsStatus" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfSIWsStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SIWsStatus" nillable="true" type="si:SIWsStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetServiceInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceInfoResult" type="si:ServiceInfoOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceInfoOutput">
        <s:complexContent mixed="false">
          <s:extension base="si:ServiceOutput">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceResult" type="si:SIServiceInfoResult" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SIServiceInfoResult">
        <s:complexContent mixed="false">
          <s:extension base="si:SIWsResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ServiceInfo" type="si:ArrayOfServiceInfoRecord" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceInfoRecord" nillable="true" type="si:ServiceInfoRecord" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceInfoRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InfoKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoValue" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://ws.strikeiron.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.strikeiron.com">
      <xs:element name="LicenseInfo" type="tns1:LicenseInfo" />
      <xs:complexType name="LicenseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="RegisteredUser" type="tns1:RegisteredUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RegisteredUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" type="xs:string" />
          <xs:element minOccurs="0" name="Password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SubscriptionInfo" type="tns1:SubscriptionInfo" />
      <xs:complexType name="SubscriptionInfo">
        <xs:sequence>
          <xs:element name="LicenseStatusCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseStatus" type="xs:string" />
          <xs:element name="LicenseActionCode" type="xs:int" />
          <xs:element minOccurs="0" name="LicenseAction" type="xs:string" />
          <xs:element name="RemainingHits" type="xs:int" />
          <xs:element name="Amount" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GetRemainingHits">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetRemainingHitsResponse">
        <xs:complexType />
      </xs:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUSCityWebsiteSoapIn">
    <wsdl:part name="parameters" element="si:GetUSCityWebsite" />
  </wsdl:message>
  <wsdl:message name="GetUSCityWebsiteSoapOut">
    <wsdl:part name="parameters" element="si:GetUSCityWebsiteResponse" />
  </wsdl:message>
  <wsdl:message name="GetUSCityWebsitesForStateSoapIn">
    <wsdl:part name="parameters" element="si:GetUSCityWebsitesForState" />
  </wsdl:message>
  <wsdl:message name="GetUSCityWebsitesForStateSoapOut">
    <wsdl:part name="parameters" element="si:GetUSCityWebsitesForStateResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllStatusesSoapIn">
    <wsdl:part name="parameters" element="si:GetAllStatuses" />
  </wsdl:message>
  <wsdl:message name="GetAllStatusesSoapOut">
    <wsdl:part name="parameters" element="si:GetAllStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapIn">
    <wsdl:part name="parameters" element="si:GetServiceInfo" />
  </wsdl:message>
  <wsdl:message name="GetServiceInfoSoapOut">
    <wsdl:part name="parameters" element="si:GetServiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
    <wsdl:part name="parameters" element="s1:GetRemainingHits" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
    <wsdl:part name="parameters" element="s1:GetRemainingHitsResponse" />
  </wsdl:message>
  <wsdl:message name="LicenseInfoMessage">
    <wsdl:part name="LicenseInfo" element="s1:LicenseInfo" />
  </wsdl:message>
  <wsdl:message name="SubscriptionInfoMessage">
    <wsdl:part name="SubscriptionInfo" element="s1:SubscriptionInfo" />
  </wsdl:message>
  <wsdl:portType name="SDPUSCityWebsitesSoap">
    <wsdl:operation name="GetUSCityWebsite">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get the website information for a given US City</documentation>
      <wsdl:input message="si:GetUSCityWebsiteSoapIn" />
      <wsdl:output message="si:GetUSCityWebsiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUSCityWebsitesForState">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all the US City Websites for a state</documentation>
      <wsdl:input message="si:GetUSCityWebsitesForStateSoapIn" />
      <wsdl:output message="si:GetUSCityWebsitesForStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStatuses">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get all statuses this service might return</documentation>
      <wsdl:input message="si:GetAllStatusesSoapIn" />
      <wsdl:output message="si:GetAllStatusesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get information about the web service</documentation>
      <wsdl:input message="si:GetServiceInfoSoapIn" />
      <wsdl:output message="si:GetServiceInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <wsdl:input message="si:GetRemainingHitsSoapIn" />
      <wsdl:output message="si:GetRemainingHitsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SDPUSCityWebsitesSoap" type="si:SDPUSCityWebsitesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUSCityWebsite">
      <soap:operation soapAction="http://www.strikeiron.com/GetUSCityWebsite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUSCityWebsitesForState">
      <soap:operation soapAction="http://www.strikeiron.com/GetUSCityWebsitesForState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStatuses">
      <soap:operation soapAction="http://www.strikeiron.com/GetAllStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceInfo">
      <soap:operation soapAction="http://www.strikeiron.com/GetServiceInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <soap:operation soapAction="http://sdpws.strikeiron.com/StrikeIron/sdpUSCityWebsites/SDPUSCityWebsites/GetRemainingHits" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="si:LicenseInfoMessage" part="LicenseInfo" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SubscriptionInfoMessage" part="SubscriptionInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SDPUSCityWebsites">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">This Web service will lookup website URLs for US Cities</documentation>
    <wsdl:port name="SDPUSCityWebsitesSoap" binding="si:SDPUSCityWebsitesSoap">
      <soap:address location="http://sdpws.strikeiron.com/StrikeIron/sdpUSCityWebsites" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>